tests/Wsdl/XRoadV6.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://producer.x-road.eu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://producer.x-road.eu" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:id="http://x-road.eu/xsd/identifiers" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://producer.x-road.eu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
      <xs:element name="getRandom">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="request">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="seed" type="xs:string">
                    <xs:annotation>
                      <xs:appinfo>
                        <xrd:title>Random input</xrd:title>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRandomResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="response">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="content" type="xs:string">
                    <xs:annotation>
                      <xs:appinfo>
                        <xrd:title>Random response</xrd:title>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="Car">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Audi" />
          <xs:enumeration value="Volkswagen" />
          <xs:enumeration value="BMW" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRandomResponse">
    <wsdl:part name="getRandomResponse" element="tns:getRandomResponse" />
  </wsdl:message>
  <wsdl:message name="getRandom">
    <wsdl:part name="getRandom" element="tns:getRandom" />
  </wsdl:message>
  <wsdl:message name="requestheader">
    <wsdl:part name="client" element="xrd:client" />
    <wsdl:part name="service" element="xrd:service" />
    <wsdl:part name="id" element="xrd:id" />
    <wsdl:part name="userId" element="xrd:userId" />
    <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
  </wsdl:message>
  <wsdl:portType name="getRandomPort">
    <wsdl:operation name="getRandom">
      <wsdl:documentation>
        <xrd:title>getRandom</xrd:title>
      </wsdl:documentation>
      <wsdl:input name="getRandom" message="tns:getRandom" />
      <wsdl:output name="getRandomResponse" message="tns:getRandomResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getRandomPortSoap11" type="tns:getRandomPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRandom">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="getRandom">
        <soap:body use="literal" />
        <soap:header message="tns:requestheader" part="client" use="literal" />
        <soap:header message="tns:requestheader" part="service" use="literal" />
        <soap:header message="tns:requestheader" part="userId" use="literal" />
        <soap:header message="tns:requestheader" part="id" use="literal" />
        <soap:header message="tns:requestheader" part="protocolVersion" use="literal" />
      </wsdl:input>
      <wsdl:output name="getRandomResponse">
        <soap:body use="literal" />
        <soap:header message="tns:requestheader" part="client" use="literal" />
        <soap:header message="tns:requestheader" part="service" use="literal" />
        <soap:header message="tns:requestheader" part="userId" use="literal" />
        <soap:header message="tns:requestheader" part="id" use="literal" />
        <soap:header message="tns:requestheader" part="protocolVersion" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="producerPortService">
    <wsdl:port name="getRandomPortSoap11" binding="tns:getRandomPortSoap11">
      <soap:address location="http://INSERT_CORRECT_SERVICE_URL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>